.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.image {
    width: 20%;
    height: auto;
}

.break {
    flex-basis: 100%;
    height: 0;
}
.data {
    margin: 20px;
    width: 100%;
}
.productName{
    text-align: start;
}
.productPrice{
    text-align: end;
}