<div class="main_component">
    <div class="div-flex">
        <h1>Felhasználó létrehozása</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label for="email">Email cím: </mat-label>
                <input matInput type="text" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Jelszó: </mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="rePassword">Jelszó megerősítése: </mat-label>
                <input matInput type="password" formControlName="rePassword" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="phoneNumber">Telefonszám </mat-label>
                <input matInput type="text" formControlName="phoneNumber" />
            </mat-form-field>
            <div formGroupName="name" class="subForm">
                <mat-form-field>
                    <mat-label for="lastname">Vezetéknév: </mat-label>
                    <input matInput type="text" formControlName="lastname" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="firstname">Keresztnév: </mat-label>
                    <input matInput type="text" formControlName="firstname" />
                </mat-form-field>
            </div>
            <div formGroupName="address" class="subForm">
                <mat-form-field>
                    <mat-label for="ZIPcode">Irányítószám: </mat-label>
                    <input matInput type="text" formControlName="ZIPcode" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="town">Város: </mat-label>
                    <input matInput type="text" formControlName="town" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="street">Utca: </mat-label>
                    <input matInput type="text" formControlName="street" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="houseNumber">Ház szám: </mat-label>
                    <input matInput type="text" formControlName="houseNumber" />
                </mat-form-field>
            </div>
            <div>
                <span class="buttons">
                    <button mat-raised-button type="submit">Regisztráció</button>
                </span><span class="buttons">
                    <button mat-raised-button (click)="goBack()">Vissza</button>
                </span>
            </div>
        </form>
    </div>
</div>